<div class="nb-header">
    <a ng-click="toggleExpanded()">
        <i class="fa fa-{{expanded ? 'minus' : 'plus'}}-square-o"></i>
    </a>
    <span class="text-muted">{{config.typeLabel}}</span>
    <span uib-dropdown class="pull-right">
        <a uib-dropdown-toggle>Add Element</a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="type in config.types">
                <a ng-click="addElement(type)">{{type}}</a>
            </li>
        </ul>
    </span>
</div>
<div class="nb-elements" ng-if="expanded">
    <div class="nb-element" ng-repeat="element in value">
        <div class="nb-header">
            <span uib-dropdown>
                <a uib-dropdown-toggle><i class="fa fa-bars"></i></a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-if="pasteSource">
                        <a ng-click="pasteElement(element, 0)">Paste Before</a>
                    </li>
                    <li ng-if="pasteSource">
                        <a ng-click="pasteElement(element, 1)">Paste After</a>
                    </li>
                    <li class="divider" ng-if="pasteSource"></li>
                    <li>
                        <a ng-click="cutElement(element)">Cut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="deleteElement(element)">Delete</a>
                    </li>
                </ul>
            </span>
        </div>
        <nb-wysiwym-widget class="nb-content" nb-config="config.widget" ng-model="element.value" ng-change="onChildChanged()"></nb-wysiwym-widget>
    </div>
</div>
