<div class="node-header">
    <div class="line"><div class="dot"></div></div>
    <div class="node-label">
        <span uib-dropdown>
            <a uib-dropdown-toggle>{{node.type}}</a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="child in type.childs">
                    <a ng-click="onAppendChildClick(child)">Append Child <b>{{child}}</b></a>
                </li>
                <li class="divider" ng-if="type.childs"></li>
                <li ng-repeat="attribute in availableAttributes">
                    <a ng-click="onAddAttributeClick(attribute)">Add Attribute <b>{{attribute}}</b></a>
                </li>
                <li class="divider" ng-if="availableAttributes.length"></li>
                <li>
                    <a ng-click="onDeleteClick()">Delete</a>
                </li>
            </ul>
        </span>
    </div>
    <a ng-click="onToggleExpandedClick()">
        <i class="fa fa-{{expanded ? 'minus' : 'plus'}}-square-o" aria-hidden="true"></i>
    </a>
</div>
<div class="node-attributes" ng-if="expanded &amp;&amp; hasAttributes">
    <div class="input-group" ng-repeat="(key, value) in node.attributes">
        <span class="input-group-addon text-sm"><a href="#">{{key}}</a></span>
        <input type="text" class="form-control input" ng-model="node.attributes[key]">
    </div>
</div>
<nb-childs-marker></nb-childs-marker>
<div class="node-footer" ng-if="expanded">
    <div class="node-label">
        / {{node.type}}
    </div>
</div>
